body {
    color: #333;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}

h1 {
    padding: 5px;
    box-shadow: 0px 5px 10px -10px black;
    width: 500px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.controls {
    margin-bottom: 15px;
}

.controls .col {
    width: 75px;
    height: 50px;
}

.controls button.active,
.controls button:active {
    color: #eee;
    background-color: #5294e2;
    border: none;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}
